<!-- Fixed navbar -->
<nav id="header" class="navbar-inverse navbar-fixed-top">
    <div id="header-container" class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p id="brand" class="navbar-brand">Steam Angular 2</p>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="'/'" routerLinkActive="active"> Accueil </a></li>
                <li><a [routerLink]="'/bibliotheque'" routerLinkActive="active"> Bibliothèque </a></li>
                <li><a [routerLink]="'/header'" routerLinkActive="active"> Header </a></li>
                <li><a [routerLink]="'/footer'"routerLinkActive="active"> Footer </a></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->

<router-outlet></router-outlet>

