<h1 style="text-align: center;"> Liste de tous les jeux : </h1>


    <div *ngFor="let game of games" class="col-lg-12">

        <hr>

      <h3>
          {{game.name}}
      </h3>


        <h4> {{game.summary | slice:0:200}}...</h4>

        <p> Screenshots of the game :</p>

            <div *ngFor="let url of game.getScreenshots()" class="col-lg-3">

                <img src="{{url}}" class="img-responsive margindefault imgmodif">
            </div>


        <div class="col-lg-12 text-center">
            <button (click)="onSelect()" class="btn btn-primary btn-lg"> Read More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> </button>
        </div>

    </div>

