<h1 style="text-align: center;"> Top 3 des jeux du moment ! </h1>

<div *ngFor="let game of games" class="col-lg-12">

  <hr>

  <h3>
    {{game.name}}
  </h3>

  <img src="{{game.cover}}" class="img-responsive margindefault" width="125" height="125">

  <h4> {{game.summary | slice:0:100}} ...</h4>

  <div class="col-lg-12 text-center">
    <button (click)="onSelect()" class="btn btn-primary btn-lg margindefault"> Read More <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> </button>

  </div>

</div>